<header><h3 style="text-align: center">what's #trending</h3></header>
<div class="jumbotron">

    <a ng-repeat="image in trendingImages track by $index" href="{{image}}">
      <img class="img-thumbnail" id="imgFormat" src={{image}}>
    </a>

    
      <a ng-click="thisTrend(trend)" ng-repeat="(key, val) in sampleImageText" id="preview" ng-style="{'background-image':'url({{val}})'}">
      </a>
   

  <!-- <div class="panel-heading">
      <span ng-repeat="(key, value) in trends"><button type="button" ng-click="thisTrend(key)">{{key}}</button><span ng-repeat-end></span>
      </span>
  </div> -->
</div>

<!-- src={{image}} 
ng-repeat="trend in sampleImageText" 
-->    